/* Form */

.form-div {
    width: 100%;
  }
  
  .form-div form {
    width: 50%;
    margin: 0 auto;
  }
  
  .form-div form input {
    width: 40%;
    margin-right: 1em;
    padding: .75em;
  
    border-radius: 5px;
    border: 1px solid rgb(133, 133, 133);
  }
  
  .form-div form input:focus-visible {
    outline-offset: unset;
    outline: none;
  }
  
  .form-div form button {
    padding: .75em 1em;
  
    background-color: #ee7020;
    color: #fff;
  
    border: 1px solid #d05c08;
    border-radius: 5px;
  }
  
  .form-div form button:hover {
    background-color: #ec7d38;
  }