/* ListSelector */
.listSelector-div {
    width: 100%;
  }
  
    /* Button */
    .listSelector-button-div button {
    margin: 2em .25em 0.5em;
    padding: .5em;
  
    border: 1px solid;
    border-radius: 5px;
  
    color: #fff;
    }

        /* All */
        .listSelector-button-div #all {
            background-color: #ee7020;
            border-color: #d05c08;;
        }
        
        .listSelector-button-div #all:hover {
            background-color: #ec7d38;
        }
  
        /* Todo */
        .listSelector-button-div #todo {
            background-color: #4ec41b;
            border-color: #3f951a;
        }
        
        .listSelector-button-div #todo:hover {
            background-color: #52cc1d;
        }
  
        /* Done */
        .listSelector-button-div #done {
            background-color: #de4e46;
            border-color: #a11b14;
        }
        
        .listSelector-button-div #done:hover {
            background-color: #e85f58;
        }

        /* SearchBar */  
        .listSelector-button-div #searchBar {
            background-color: #a19f9f;
            border-color: #848181;
        }
        
        .listSelector-button-div #searchBar:hover {
            background-color: #afaeae;
        }
  
 .listSelector-lists-div {
    width: 100%;
    margin: auto;
 }

 
/* Media Queries */
@media (min-width: 500px) {

    .listSelector-div {
        width: 60%;
        }

    .listSelector-lists-div {
        display: flex;
        justify-content: center;
        width: 100%;
        }
}