.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  /* background-color: #282c34; */
  background: linear-gradient(#404145, #99d84e, #e1df78);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SubList */

.list-div {
  margin: 1rem;
  padding: 1rem;

  background-color: darkgrey;
  color: #282c34;
}

.list-done-button {
  background-color: rgb(35, 210, 35);
  color: white;
  border: none;
}

.list-delete-button{
  background-color: red;
  color: white;
  border: none;
}