/* SearchTask */

.searchTask-div {
    width: 100%;
  }
  
  /* Search Form */
  .searchTask-div form {
    width: 100%;
    margin: 0 auto;
  }
  
  .searchTask-div form input {
    width: 40%;
    margin-right: 1em;
    padding: .75em;
  
    border-radius: 5px;
    border: 1px solid rgb(133, 133, 133);
  }
  
  .searchTask-div form input:focus-visible {
    outline-offset: unset;
    outline: none;
  }
  
  .searchTask-div form button {
    padding: .75em 1em;
  
    background-color: #a19f9f;
    color: #fff;
  
    border: 1px solid #848181;
    border-radius: 5px;
  }
  
  .searchTask-div form button:hover {
    background-color: #afaea8;
  }

  /* Search Result */
  .searchTask-result-div {
    width: 60%;
    margin: 1em auto; 
    padding: 0.2rem;  

    text-align: center;
  }

  .searchTask-result-card {
    background-color: #848181;
    text-align: left;

    width: 70%;
    margin: 1em auto;
    padding: 0.3em;
  }

  .searchTask-result-div p {
    margin: 0.2em 0;
  }

/* Media Queries */
@media (min-width: 500px) {

  .searchTask-div form {
    width: 80%;
  }
}